---
layout: Page
title: Challenges
description: "Challenges Coming Soon"
keywords: "XDC,XDC Network,Developer,Challenges"
---

{% include header.html %}
{% include page_header.html %}
      <!-- Start Blog  Area -->
      <section class="blog-area bg-color1">
         <div class="blog-wrapper section-spacing">
            <div class="container">
                  <div class="error-page text-center">
                      <img src="/assets/images/coming-soon.jpg" alt="Coming Soon">
                      <p><a href="{{ "/" | relative_url }}" class="btn-style2 btn btn-primary">Back to Home</a></p>
                  </div>
            </div>
         </div>
      </section>
      <!-- End Blog Area -->
{% include footer.html %}
	  
 