---
layout: page
title: Concepts
description: "Provoking conversation through developer concepts"
keywords: "xdc,documentation,concepts"
---

<!-- Start Feature  Area -->
<div class="feature-area bg-color1">
        <div class="feature-wrapper section-spacing pb-0">
            <div class="container">
                <div class="row">
                    {% for feature_box in site.data.concept_boxes %}
                        <div class="col-md-6 col-lg-4">
                            <article class="feature-box bg-color3">
                                <header class="feature-logo wow bounceIn" data-wow-duration="1s">
                                    <div class="feature-icon"><img src="{{feature_box.icon | relative_url}}" alt="{{feature_box.name}}"></div>							
                                </header>
                                <footer class="feature-content">
                                    <h5 class="heading-5"><a href="{{feature_box.url | relative_url}}">{{feature_box.name}}</a></h5>
                                    <p> {{feature_box.description}} </p>
                                    <div class="mt-3"><a href="{{feature_box.url | relative_url}}"><strong>{{feature_box.button_label}}</strong></a></div>
                                    
                                </footer>
                            </article>
                        </div>
                   {% endfor %}
                </div>
            </div>
        </div>
    </div>
<!-- End Feature Area -->

<!-- Start All concepts Area -->
<section class="changelog-area bg-color1">
    <div class="changelog-wrapper inner-spacing">
       <div class="container">
             <h1>XDC Concepts</h1>
            <p></p>
 
                 <h2>XDCPay</h2>
                 <p>XDCPay concepts to be listed here</p>
 
                 <h2>NFTs</h2>
                 <p>Ideas about NFTs listed here</p>
 
                 <h2>New and Exciting concepts</h2>
                 <p>Additional ideas to be added</p>     
       </div>
    </div>
 </section>
<!-- End All concepts Area -->	
    {% include call_to_action.html %}
    {% include support_area.html %}
    {% include footer_top_area.html %}